body{
font-family:Poppins;
margin:0;
background:#f5f5f5;
}

header{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.home{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px 10%;
}

.home img{
width:250px;
border-radius:50%;
}

.btn{
background:#007bff;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

.skills{
text-align:center;
padding:60px;
}

.bar{
background:#ddd;
height:8px;
margin-bottom:20px;
}

.bar span{
display:block;
height:8px;
background:#007bff;
}

.about{
text-align:center;
padding:60px;
}

.projects{
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
padding:60px;
}

.card{
background:white;
padding:20px;
width:300px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
text-align:center;
}

.card img{
width:100%;
border-radius:5px;
}

.contact{
text-align:center;
padding:60px;
}

form{
display:flex;
flex-direction:column;
gap:10px;
width:300px;
margin:auto;
}

input,textarea{
padding:10px;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}